.object/
.testudo/
.depend/
.headers/
.track/
reports/

keywords.tex
mock_turtle_macro_n.h
mock_turtle_macro_n_customize.m4
style_table.tex
testudo_lc
testudo_uc
testudo_eo
testudo_unicode_extravaganza
*.gh

*.pdf
*.aux
*.out
*.toc
*.log
*.lof
*.lot

generate_examples_script
rubbertmp
emacs_add_keywords_*.txt
examples
